{# templates/blog/post_detail.html #}
{% extends "base.html" %}

{% block title %}
Post List
{% endblock title %}


{% block content %}
			
<article>

    <header>
      <h2>Flask Essentials</h2>
      <p>
        Written on
        <time datetime="2021-05-16">
          Sunday, May 16, 2021
        </time>
      </p>
    </header>

    <p>Flask Essentials</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

     
	<section>
		<h3>Startup</h3>
		<ul>
			<li>
				<a href="{% url 'organizer_startup_detail' %}">
				Flask for Beginners</a>
			</li>
		</ul>
	</section>
      
     
	<section>
		<h3>Tags</h3>
		<ul>
		  
		    <li><a href="{% url 'organizer_tag_detail' %}">
		      Python
		    </a></li>
		  
		    <li><a href="{% url 'organizer_tag_detail' %}">
		      Flask
		    </a></li>
		  
		</ul>
	</section>
      
</article>

{% endblock content %}
