{# templates/blog/post_list.html #}
{% extends "base.html" %}

{% block title %}
Post List
{% endblock title %}


{% block content %}
  
  <article>
    <header>
      <h2>
        <a href="{% url 'blog_post_detail' %}">Flask Essentials</a>
      </h2>
      <p>
        Written on:
        <time datetime="2021-05-16">
          Sunday, May 16, 2021
        </time>
      </p>
    </header>
    <p>Flask Essentials Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna …</p>
    <p>
      <a href="">
        Read more&hellip;</a>
    </p>
  </article>

  <article>
    <header>
      <h2>
        
        
        <a href="{% url 'blog_post_detail' %}"> 
            
            How To Start Learning Django?</a>
      </h2>
      <p>
        Written on:
        <time datetime="2021-05-16">
          Sunday, May 16, 2021
        </time>
      </p>
    </header>
    <p>How to start learning Django? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore …</p>
    <p>
      <a href="">
        Read more&hellip;</a>
    </p>
  </article>

  <article>
    <header>
      <h2>
        
        
        <a href="{% url 'blog_post_detail' %}"> 
            
            Learn Python For Beginners</a>
      </h2>
      <p>
        Written on:
        <time datetime="2021-05-16">
          Sunday, May 16, 2021
        </time>
      </p>
    </header>
    <p>Learn Python for Beginners Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et …</p>
    <p>
      <a href="">
        Read more&hellip;</a>
    </p>
  </article>
{% endblock content %}

