{# templates/organizer/startup_detail.html #}

{% extends "base.html" %}

{% block title %}
Startups Detail
{% endblock title %}


{% block content %}
			
<article>
	<h2>Django for Beginners</h2>
	<dl>
		<dt>Date Founded</dt>
		<dd>May 16, 2091</dd>
		<dt>Website</dt>
		<dd>https://www.django-for-beginners.com</dd>
		<dt>Contact</dt>
		<dd>djangoforbeginners@gmail.com</dd>
		<dt>Tag</dt>
		
		<dd><a href="{% url 'organizer_tag_detail' %}">
			Django
		</a></dd>
		
	</dl>
	<p>Django for Beginners.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	<section>
		<h3>Recent News</h3>
		<ul>
			<li>
				<a href="https://djangoforbeginners.com/introduction/">
				Django For Beginners</a>
			</li>
		</ul>
	</section>

</article>

{% endblock content %}

